html{
    overflow: hidden;
}

#masthead-container, #below, #above-the-fold, 
#clarify-box, #secondary, #info-container{
    display: none !important;
}

#columns{
  position: absolute; 
  inset: 0px; 
  pointer-events: none; 
  transform: scale(1.4, 1.29);
  top: 100px;
}

/*
height and width of full screen 
      width: 1164px; 
      height: 655px;  
*/