html{
    overflow: hidden;
}

#masthead-container{
    display: none !important;
}

#below{
    display: none !important;
}

#player{
    height: 100%;
    width: 100%;
}

#secondary{
    display: none !important;
}

#primary-inner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}