html{
    overflow: hidden;
}

#masthead-container{
    display: none !important;
}

#below{
    display: none !important;
}
#above-the-fold{
    display: none !important;
}

#clarify-box{
    display: none !important;
}

#secondary{
    display: none !important;
}

/* height and width of full screen */
/* width: 1164px; 
height: 655px;  */